GUI_AGENT_API_KEY = ''
GUI_AGENT_API_BASE = ''
GUI_MODEL = ''
HUOSHAN_API_KEY = ''
SERPER_API_KEY = ''
SEARCH_API_BASE = ''
SERPER_API_BASE = ''
TOPOCLAW_TOOLS__WEB__SEARCH__API_BASE = ''
TOPOCLAW_TOOLS__WEB__SEARCH__SERPER_API_BASE = ''
OPENALEX_API_KEY = ''
SEMANTIC_SCHOLAR_API_KEY = ''